.btn-block {
  width: 200px;
  display: block;
  margin: 20px auto;
}

.form-group {
  margin-bottom: 10px;
  font-size: 14px;
}

.form-control {
  font-size: 14px;
}

.help-block {
  color: #ff0000;
}
