version: '3.6'
services:
  mongo-primary:
    image: mongo:3.4
    expose:
      - 27017
    ports:
      - 27017:27017
    command: mongod --smallfiles --replSet mongodb-replica

  mongo-secondary1:
    image: mongo:3.4
    expose:
      - 27017
    ports:
      - 27018:27017
    command: mongod --smallfiles --replSet mongodb-replica

  mongo-secondary2:
    image: mongo:3.4
    expose:
      - 27017
    ports:
      - 27019:27017
    command: mongod --smallfiles --replSet mongodb-replica

  rabbitmq:
    image: rabbitmq:3-management
    restart: on-failure
    ports:
      - 15672:15672
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  config:
    image: distrlabproject/config
    restart: on-failure
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  registry:
    image: distrlabproject/registry
    restart: on-failure
    depends_on:
      - config
    ports:
      - 8761:8761
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  gateway:
    image: distrlabproject/gateway
    restart: on-failure
    depends_on:
      - config
    ports:
      - 80:4000
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  auth-service:
    image: distrlabproject/auth-service
    restart: on-failure
    depends_on:
          - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  auth-mongodb:
      image: distrlabproject/mongodb
      restart: on-failure
      logging:
        options:
          max-size: "10m"
          max-file: "10"

  bookcase-service:
    image: distrlabproject/bookcase-service
    restart: on-failure
    depends_on:
      - config
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  bookcase-mongodb:
      environment:
        INIT_DUMP: bookcase-service-dump.js
      image: distrlabproject/mongodb
      restart: on-failure
      logging:
        options:
          max-size: "10m"
          max-file: "10"

  mongodb-replica:
    depends_on:
      - user-service
    build: mongodb-replica

  user-service:
    image: distrlabproject/user-service
    restart: on-failure
    depends_on:
      - config
      - mongo-primary
      - mongo-secondary1
      - mongo-secondary2
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  monitoring:
    image: distrlabproject/monitoring
    restart: on-failure
    depends_on:
      - config
    ports:
      - 9000:8080
      - 8989:8989
    logging:
      options:
        max-size: "10m"
        max-file: "10"
