<div class="container d-flex flex-row flex-wrap justify-content-start align-items-start">
  <div class="card"
       *ngFor="let book of books"
  >
    <div class="card-body">
      <h5 class="card-title">{{book.title}}</h5>
      <p class="card-text"> Author: {{book.author}} </p>
      <h6 class="card-subtitle mb-2 text-muted">Genre: {{book.genre}}</h6>
      <p class="card-text">Price: {{book.price}}</p>
      <h6 class="card-subtitle mb-2 text-muted">Available: {{book.availableCount}}</h6>
      <a [routerLink]="[book.id]" class="card-button btn btn-primary">More Info</a>
      <button class="card-button btn btn-success" (click)="addToBag(book)">Add to bag</button>
    </div>
  </div>
</div>

