hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000

ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000

zuul:
  ignoredServices: '*'
  host:
    connect-timeout-millis: 20000
    socket-timeout-millis: 20000

  routes:
    auth-service:
        path: /uaa/**
        url: http://auth-service:5000
        stripPrefix: false
        sensitiveHeaders:

    bookcase-service:
        path: /bookcase/**
        serviceId: bookcase-service
        stripPrefix: false
        sensitiveHeaders:

#    bucket-service:
#        path: /bucket/**
#        serviceId: bucket-service
#        stripPrefix: false
#        sensitiveHeaders:
#
#    notification-service:
#        path: /sale/**
#        serviceId: sale-service
#        stripPrefix: false
#        sensitiveHeaders:

server:
  port: 4000