header{
  padding: 20px 20px 5px;
  width: 94%;
  max-width: 1920px;
  margin: 0 auto;
}
.image img{
  height: 80px;
  width: 150px;
}
.search {
  width: 50%;
  max-width: 1000px;
}
/*.search-type label{*/
  /**/
/*}*/
.search-type input{
  margin: 0 2px;
}
.control-button button{
  margin: 0 10px;
}
.control-button .user-email{
  margin: 5px auto 0;
  color: #28a745;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.navbar-nav{
  padding: 0 40px 0;
  width: 94%;
  max-width: 1920px;
  margin: 0 auto;
}
