<div class="container d-flex flex-row-reverse justify-content-between align-items-start">
  <div class="controls">
    <button (click)="addToBag(book)" class="btn btn-success">Add to Bag</button>
    <a routerLink="/books" class="btn btn-info">Back</a>
  </div>
  <div>
    <h5>{{book?.title}}</h5>
    <p class="card-text">Author: {{book?.author}}</p>
    <p class="card-text">Cenre: {{book?.genre}}</p>
    <p class="card-text">Price: {{book?.price}}$</p>
    <p class="card-text">Available count: {{book?.availableCount}}</p>
    <p class="card-text">Short Description: {{book?.shortDescription}}</p>
  </div>

</div>

